body {
  background: #efe5d0 url(../images/body.jpg);
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: yellowgreen;
  margin: 15px;
}

.f{
border:      1px solid activeborder; 
font-weight: bold;
text-align:  left;
/*position:    absolute;
top:         25px;
right:       50px;*/
}

table {
border-collapse: collapse;
background-color: dimgrey;
}

td,th{
padding: 3px;
}

th {
text-align: center; 
background-color: darkslategrey;
}

caption {
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10px;
}

form label {
display:     inline-block;
width:       135px;
font-weight: bold;
}

#add {
display: inline-block;
border: 1px solid activeborder;
background-color: darkslategrey;
margin-left: 600px;
margin-top: 5%;
}

#ident, #reg, #autorize {
position: absolute;
right: 2%;
top: 3%;
border: 2px;    
}

.leftdiv{
width: 25%;
float: left;
margin-left: 1%;
}
.rightdiv {
width: 50%;
padding-top: 2px;
margin-left: 30%;
}

a:link {color: yellowgreen}
a:visited {color: gold}